.circle {
  height: 1rem;
  width: 1rem;
  border: 2px solid #E5E5E5;
  border-radius: 100%;
}

.circle-active {
  border: 2px solid #03D69D;
}

.final-step {
  background-color: #03D69D;
  display: flex;
  align-items: center;
  justify-content: center;
}