.ribbon {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 14px solid transparent;

  border-right: 14px solid #fff;
  position: absolute;
  right: -0.1rem;
  top: 0;
}

.ribbon-active {
  border-right: 14px solid #f4fbf9;
}
